/* .mentor-card {
  position: relative;
  display: flex;
  width: 60%;
  height: 11rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 2rem auto;
  justify-content: space-between;
  padding: 1rem;
} */

/* .row {
  height: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 11rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.125);
} */

.mentor-card {
  width: 53rem;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}

.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.firstinfo .profileinfo {
  padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
}

.mentor-card:after {
  content: "";
  display: block;
  width: 190px;
  height: 300px;
  background: cadetblue;
  position: absolute;
  top: -5rem;
  left: -40px;
  /* animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both; */
  transform: rotate(24deg);
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ececec;
  width: 480px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 20%);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s
    forwards;
}

.firstinfo,
.badgescard,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.devicons {
  font-family: "devicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.profileinfo a {
  color: #009688;
}
